<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand text-white">SPORTS STORE</a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <div class="row-3 m-2">
        <button class="btn btn-outline-info btn-block" routerLink="/admin/main/products" routerLinkActive="active">
          Products
        </button>
        
      </div>
      <div class="row-3 m-2">
        <button class="btn btn-outline-info btn-block" routerLink="/admin/main/orders" routerLinkActive="active">
          Orders
        </button>
      </div>
      <div class="row-3 m-2">
        <button class="btn btn-outline-danger btn-block" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>